.item {
    display: flex;
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 8px 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: #ffffff;
    border: 1px solid rgba(204, 204, 204, 0.7);
    box-sizing: border-box;
    border-radius: 12px;
    &:hover {
        border: 1px solid #fa835f;
    }
    box-sizing: border-box;
    cursor: pointer;

    .titleContainer {
        display: flex;
        font-size: 16px;
        align-items: center;
        .title {
            margin-left: 16px;
        }
        min-width: 40%;
    }
    .additionalInfo {
        margin-left: 20px;
        display: flex;
        font-size: 14px;
        font-weight: 400;
        align-items: center;
        margin-right: 15px;
        .rating {
            margin: 0 3px;
        }
        .feedbacks {
            margin: 0 15px 0 3px;
            font-weight: 300;
        }
        .locationIcon {
            font-size: 1.2em;
        }
    }
    .inputs {
        margin-left: auto;
        display: flex;

        align-items: center;
        height: 80%;
    }
    .removeItem {
        color: red !important;
    }
}
