.container {
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    .timeColumn {
        min-width: 40px;
        height: 30vh;
        overflow-y: hidden;
        overflow-x: hidden;
        cursor: pointer;
        scrollbar-width: none;
        &:hover {
            overflow-y: auto;
        }
    }
    .item {
        height: 30px;
        width: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        &:hover {
            background-color: rgb(228, 228, 228);
        }
    }
    .selectedItem {
        background-color: #fa835f !important;
        color: #fff;
        // cursor: not-allowed;
    }
    .disabledItem {
        background-color: #767676;
        // color: #fff;
        cursor: not-allowed;
    }
}
.textField {
    text-align: center !important;
}
.button {
    display: flex;
    align-items: center;
    margin: 5px;
    justify-content: center;
}
