.container {
    // font-family: Roboto, Helvatica, Roboto;
}
.title {
    // font-family: Roboto;
    font-size: 18px;
    margin-left: 40px;
}
.resultContainer {
    // margin-left: 40px;
    // min-height: 70px;
    margin: 10px 0 20px 0;
    display: flex;
    flex-wrap: wrap;
}
.cellTime {
    // font-family: Roboto;
    font-size: 8px;
    color: #373737;
    max-width: 50px;
    user-select: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    top: -12px;
}
.cellDay {
    // font-family: Roboto;
    font-size: 14px;
    color: #000000;
    user-select: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    width: 100%;
    .dayName {
        margin: auto;
    }
}
.menuItem {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    min-width: 100px;
}
.selectedCell {
    color: #fff;
    user-select: none;
    font-size: 11px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.gridContainer {
    grid-template-rows: [first] 40px !important;
    grid-template-columns: [first-row] 30px !important;
    margin-top: 5px;
}
.firstRow {
    grid-row-start: first !important;
    background-color: #f8f8f8;
}
.firstColumn {
    grid-column-end: first-row !important;
    min-width: 30px;
    display: flex;
    align-items: center;
    border-top: none !important;
    border-bottom: none !important;
}
