.root {
    margin: 40px 0;
    .children {
        margin: 32px 0;
        min-height: 60vh;
    }
    .arrow {
        margin-right: 15px;
        font-size: 20px;
    }
    .title {
        margin-top: 40px;
    }
    .textError {
        margin-left: 16px;
        color: #eb5757;
        font-size: 12px;
    }
    .textInfo {
        margin-left: 16px;
        font-size: 12px;
    }
    .subTitle {
        display: block;
        color: #767676;
        margin-bottom: 24px;
        white-space: pre;
        font-size: 16px;
    }
    .buttonLeft {
        margin: 0px 16px 0px 0px !important;
    }
    .buttonRight {
        margin: 0px 5px 0px 0px !important;
    }
}
