.container {
    max-width: 480px;
    margin-bottom: auto;
    .buttons {
        margin-top: 40px;
        // margin-bottom: 32px;
    }
    .title {
        font-size: 30.2px;
        font-weight: bold;
    }

    .placeholder {
        font-size: 18.4px;
        color: #ccc;
        font-weight: bold;
    }
    .inputContainer {
        margin-top: 15px !important;
    }
    .policy {
        font-size: 16px;
        color: #7e7e7e;
        // font-style: italic;
        font-weight: normal;
    }
    .policyContainer {
        margin-top: 10px;
    }
    .link {
        color: #fa835f;
    }
}
