.subtitle {
    font-size: 16px;
    font-weight: 500;
    color: #767676;
    max-width: 600px;
}
.subtitleUniverse {
    font-size: 16px;
    font-weight: 500;
    color: #767676;
    max-width: 600px;
    padding-bottom: 40px;
}
.subtitleYClients {
    font-size: 16px;
    font-weight: 500;
    color: #767676;
    max-width: 600px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.subtitleFiles {
    font-size: 16px;
    font-weight: 500;
    color: #767676;
    max-width: 600px;
    padding: 16px 0;
}
.buttonContainer {
    display: flex;
    align-items: center;
}
.input {
    margin: 24px 16px 8px 0 !important;
}
.button {
    margin: 20px 0 8px 0 !important;
}
.contentContainer {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}
.syncContainer {
    font-size: 12px !important;
    // margin-bottom: 24px;
    margin-top: 8px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    white-space: pre;
    .sync {
        color: #fa835f;
        cursor: pointer;
    }
    .syncIcon {
        height: 21px;
    }
}

.popupChildrenContainer {
    min-width: 27vw;
    padding-bottom: 0 !important;
    overflow-y: auto;
    max-height: 70vh;
}
.popupUniverseChildrenContainer {
    padding: 24px 24px 0 24px !important;
}

.authContainer {
    // width: 80%;
    .inputAuth {
        margin: 8px 0;
    }
}
