// @import '../../../static/style/variable.scss';
.container {
    border-radius: 12px;
    padding: 16px;
    margin: 24px 0px;
    white-space: break-spaces;
    width: 80%;
    font-size: 0.8em;
    font-weight: 400;
    background: rgba(218, 218, 218, 0.25);
    color: #000;
    margin-left: 8px;
    box-sizing: border-box;
}
.myMessage {
    background: #fa835f;
    color: #fff;
    margin-left: auto;
    margin-right: 15px;
}
.img {
    width: 100%;
}
@mixin date {
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    color: #767676;
}
.myDate {
    @include date;
    text-align: center;
}
.time {
    display: flex;
    justify-content: flex-end;
    font-size: 11px;
    margin-top: 8px;
}
.myTime {
    color: #fff;
}
