.searchContainer {
    margin-bottom: 15px;
    min-width: 29vw;
    padding: 15px;
    height: 50px;
}
.chatListContainer {
    max-height: calc(100% - 150px);
    min-height: 50vh;
    overflow-y: hidden;
    padding: 0 15px;
    &:hover {
        overflow-y: auto;
    }
}

.messagePreviewDate {
    margin-top: 5px;
    font-size: 12px;
    color: rgb(172, 172, 172);
    font-weight: 400;
}
.placeholder {
    color: rgb(172, 172, 172);
    font-size: 16px;
    text-align: center;
    margin: auto;
}
