.container {
    margin: 15px;
    max-width: 450px;
}
.circle {
    min-height: 50vh;
    display: flex;
    align-items: center;
    width: 450px;
}
.userCard {
    padding: 10px 0;
    border-bottom: 1px solid rgb(226, 226, 226);
}
.offset {
    visibility: hidden;
    height: 1px;
}
.chatListContainer {
    max-height: 70vh;
    min-height: 50vh;
    overflow-y: auto;
    padding: 0 20px;
}

.name {
    max-width: 95%;
}
.avatar {
    width: 30px;
    height: 30px;
    // z-index: 10;
}
.userInfoContainer {
    width: 90%;
    margin-left: 15px;
    max-width: 65vw;
}
.userInfoContainerFull {
    width: 90%;
    margin-left: 15px;
    max-width: 65vw;
}
.expandButtonContainer {
    display: flex;
    justify-content: flex-end;
    height: 0px;
}
.textSendContainer {
    display: flex;
    justify-content: space-between;
}
.expandButton {
    position: relative;
    left: 10px;
    top: -30px;
}
.messagePreviewText {
    font-size: 0.8em;
    margin-top: 5px;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 320px;
    white-space: nowrap;
}
.messagePreviewDate {
    margin-top: 5px;
    font-size: 12px;
    color: rgb(172, 172, 172);
    font-weight: 400;
}
.searchContainer {
    margin-bottom: 15px;
    min-width: 29vw;
}
.placeholder {
    color: rgb(204, 204, 204);
    font-size: 1.2em;
    text-align: center;
}
.lastVisit {
    margin-top: 10px;
    font-size: 15px;
    color: #808080;
    font-style: italic;
}
