.container {
    display: flex;
    padding: 16px 0 8px 0;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;

    .title {
    }
    .value {
        color: #767676;
        margin-left: 20px;
    }
}
