.skillCategory {
    font-size: 20px;
    margin-top: 40px;
    margin-bottom: 24px;
}
.firstCategory {
    margin-bottom: 24px;
    font-size: 20px;
}
.placeHolderContainer {
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: center;
}
.placeHolder {
    font-size: 16px;
    color: #767676;
}
