.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-width: 150px;
    &:hover {
        // background-color: rgba(142, 142, 142, 0.4);
    }
    .buttonContainer {
        // font-size: 2em;
    }
    .valueContainer {
        font-size: 18px;
    }
}
.activeButton {
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #fff;
    cursor: pointer;
    &:hover {
        box-shadow: 0px 0px 0px 8px rgba(63, 81, 181, 0.16);
    }
}
.disabledButton {
    border: 1px solid #fff;
    border-radius: 50%;
    opacity: 0.6;
    cursor: not-allowed;
    &:hover {
        box-shadow: 0px 0px 0px 8px rgba(63, 81, 181, 0.16);
    }
}
