.headerButton {
    // margin-right: auto !important;
    margin: 0 10px;
}
.buttonContent {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.iconContainer {
    display: flex;
    margin-right: 6px;
}

.container {
    padding: 20px;
    // min-height: 40vh;
    // min-width: 20vw;
    display: flex;
}
