.subtitle {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    color: #767676;
}
.ratingContainer {
    margin: 30px 0;
}
.dataContainer {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
