.filterContainer {
    margin-top: auto;
}

.filter {
    display: flex;
    justify-content: flex-start;
    // margin-bottom: 10px !important;
}
.placeholder {
    display: flex;
    align-items: center;
}
