.containerBox {
    display: flex;
    justify-content: center;
    background-color: #fff;
}
.container {
    padding: 15px 0px 0 21px;
    max-height: calc(100vh - 1px);
    height: calc(100vh - 1px);
    .chatColumn {
        height: calc(100% - 25px);
        border-right: 1px solid rgba(219, 219, 219, 0.5);
    }
    .title {
        margin-top: 25px;
        margin-bottom: 20px;
        // display: flex;
        // justify-content: space-between;
        padding: 0 10px;
    }
    .searchContainer {
        margin-top: 20px;
    }
    // max-width: 450px;
    // width: 450px;
}
.emptyScreen {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: rgb(172, 172, 172);
    font-size: 16px;
}
