.controls {
    display: flex;
    align-items: end;
}
.sheduleSwitch {
    margin-left: auto !important;
}
.preinterval {
    max-width: 120px;
}
.infoIcon {
    margin-left: 12px;
    width: 16px;
    height: 16px;
    background-color: #fff;
}
.labelContainer {
    display: flex !important;
    align-items: center;
}
