@import '../../assets/scss/endpoints.scss';

.container {
    height: inherit;
    width: 70vw;
    max-height: 48vh;
    min-height: 48vh;
    max-width: 80vw;
    // padding: 30px;
    border-radius: 12px;
    overflow-y: auto;
}
.dataContainer {
    // min-height: calc(570px - 125px) !important;
    overflow-y: hidden !important;
}
.topBlock {
    position: sticky !important;
    top: 0;
    background: #fff;
    padding: 2px 0;
    z-index: 2;
    .searchInput {
    }
    .closeButtonContainer {
        display: flex;
        justify-content: flex-end;
        position: relative;
        left: 15px;
        top: -15px;
        @media (max-width: $md) {
            left: 0;
            top: 0;
            // position: sticky;
        }
    }
}
