$height: 90vh;
.cropContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    // height: $height;
    max-height: $height !important;
    max-width: 90vw;
}
.dataContainer {
    max-height: calc(#{$height} - 150px) !important;
    padding: 0 !important;
}
.buttonContainer {
    padding-left: 0px !important;
}
.hint {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
