@import '../../../../assets/scss/endpoints.scss';

.container {
    height: inherit;
    max-height: 50vh;
    max-width: 80vw;
    // padding: 30px;
    border-radius: 12px;
    height: 100%;
    overflow-y: auto;
}
.emptyContainer {
    height: inherit;
    width: 80vw;
    max-height: 50vh;
    max-width: 80vw;
    // padding: 30px;
    border-radius: 12px;
    height: 100%;
    overflow-y: auto;
    margin: auto;
}
.dataContainer {
    width: 65vw;
    min-height: calc(570px - 125px) !important;
    overflow-y: hidden !important;
    display: flex;
    flex-direction: column;
}
.placeholder {
    // background-color: red;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #767676;
}
.topBlock {
    position: sticky !important;
    top: 0;
    background: #fff;
    padding: 2px 0;
    z-index: 2;
    .searchInput {
    }
    .closeButtonContainer {
        display: flex;
        justify-content: flex-end;
        position: relative;
        left: 15px;
        top: -15px;
        @media (max-width: $md) {
            left: 0;
            top: 0;
            // position: sticky;
        }
    }
}
