@import '../../assets/scss/endpoints.scss';
.gridContainer {
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.cell {
    min-height: 20px;
    @media screen and (max-width: $isMobile) {
        min-width: 60px;
    }
    min-width: 60px;
    border: 1px solid #eeedee;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        background: rgb(230, 230, 230);
    }
    user-select: none;
}
.selected {
    border-radius: 5px;
    background-color: #fa835f;
    box-sizing: border-box;
    &:hover {
        background: rgba(#fa835f, 0.77);
    }
}
.hovered {
    background: rgb(230, 230, 230) !important;
    border: 1px solid rgb(184, 184, 184);
    & > * {
        background: rgb(230, 230, 230) !important;
    }
}
