.headerButton {
    margin-right: auto !important;
}
.container {
    padding: 20px;
    // min-height: 40vh;
    // min-width: 20vw;
    // f
    display: flex;
    flex-direction: column;
    & {
        :global(.rdrStaticRange) {
            font-family: Montserrat;
        }
    }
}
.buttonConfirm {
    margin-left: auto;
}
.textButton {
    margin: 0 10px;
}
.navigationContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
