.container {
    height: 100vh;
    padding: 70px 0 0 0;
}
.column {
    padding: 16px 24px;
    height: 100%;
    border: 1px solid rgba(219, 219, 219, 0.5);
}
.columnTime {
    padding: 16px 24px;
    height: 100%;
    border: 1px solid rgba(219, 219, 219, 0.5);
    display: flex;
    flex-direction: column;
}
.workingTimeColumn {
    background-color: #f6f6f6;
}
.employee {
    .searchContainer {
        margin-top: 20px;
    }
}
.title {
    font-size: 24px;
    font-weight: 700;
}
.calendarContainer {
    display: flex;
    justify-content: center;
    margin-top: 24px;

    & {
        :global(.rdrMonthAndYearWrapper) {
            display: none;
        }
        :global(.rdrMonth) {
            // width: calc(30vw - 93px);
            width: calc(41vw - 120px);
        }
    }
}
.calendarButtons {
    margin-top: 24px;
    display: flex;
    // flex-direction: row;
    justify-content: space-between;
}
.buttonContent {
    display: flex;
    align-items: center;
    justify-content: space-around;
    .iconContainer {
        display: flex;
    }
}
.workingTime {
    margin-top: 24px;
}
.selectedDaysList {
    font-size: 12px;
    font-weight: 400;
    margin: 16px 0;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}
.addTimeBreak {
    margin-top: 16px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    color: #fa835f;
}
.disableTimeBreak {
    margin-top: 16px;
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    color: #767676;
}
.headerButton {
    text-transform: capitalize;
}
.legend {
    display: flex;
    flex-direction: column;
    margin-top: auto;

    .legendItem {
        display: flex;
        margin: 10px 0;
        align-items: center;
        font-size: 12px;
        .round {
            margin-right: 8px;
            width: 12px;
            height: 12px;
            background-color: #61c9be;
            border-radius: 50%;
        }
        .roundRed {
            margin-right: 8px;
            width: 12px;
            height: 12px;
            background-color: #fa835f;
            border-radius: 50%;
        }
    }
}
