.container {
    height: 100%;
}
.classNameChildren {
    height: 100%;
}
.containerStatistic {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.statsisticItem {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
    .title {
    }
    .incomeText {
        color: #46a198;

        &::before {
            content: '+';
        }
    }
    .expensesText {
        color: #eb5757;

        &::before {
            content: '-';
        }
    }
}
.legend {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    font-size: 12px;
    font-weight: 500;
    width: 100%;
    padding-right: 20%;
    margin-top: auto;
    margin-bottom: 10px;
    .legendIncome {
        display: flex;
        align-items: center;

        &::before {
            content: ' ';
            margin-right: 5px;
            display: block;
            width: 20px;
            height: 2px;
            font-size: 18;
            background-color: #46a198;
            color: #46a198;
        }
    }
    .legendExpenses {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        &::before {
            content: ' ';
            margin-right: 5px;
            display: block;
            width: 20px;
            height: 2px;
            font-size: 18;
            background-color: #eb5757;
            color: #eb5757;
        }
    }
}
