.gridContainer {
    height: 100%;
    .infoContainer {
        display: flex;
        margin-bottom: 40px;
        margin-top: 24px;
        .info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            .phone {
                margin-left: 20px;
                font-size: 16px;
                .icon {
                    margin-right: 8px;
                    font-size: 18px;
                }
                display: flex;
                align-items: center;
            }
        }
    }
    .subtitle {
        font-size: 20px;
        font-weight: 500;
        margin-top: 40px;
    }
    .item {
        margin-top: 24px;
        margin-bottom: 24px;
    }
}
.buttonContainer {
    margin-left: auto;
}
.accessContainer {
    margin-bottom: 34px;
    color: #767676;
    .accessItem {
        display: flex;
        align-items: center;
        font-size: 16px;
        margin: 10px 0;
        .iconAccess {
            margin-right: 14px;
        }
    }
}
.skeletonChildren {
    margin: 0px !important;
}
.placeHolderContainer {
    display: flex;
    height: 20vh;
    align-items: center;
    justify-content: center;
}
.placeHolder {
    font-size: 16px;
    color: #767676;
}
