.durationContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px 0 0 0;
    max-width: 75%;
    margin-top: 8px;
}
.textField {
    background-color: #fff;
}
.errorText {
    color: #eb5757;
    font-size: 12px;
}
.icon {
    font-size: 20px !important;
}
